body {
    background-color: #262623;
}
.card{
    border-radius: 12px;
    height: 500px;
    width: 400px;
    background-color: #28282B;
    margin-left: 350px;
    margin-top: 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 70px;
}
.pfp{
    border-radius: 50%;
    height: 145px;
    width: 145px;
    margin-left: 33%;   
    margin-top: 15px; 
}
.size{
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 125px;
    margin-top: 15px;
}
.credit{
    color: black;
    margin-left: 45%;
    margin-top: 10%;
}